@model EventPlanning.Mvc.Models.Entities.EventReward

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>EventReward</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.EventTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reward.AwardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reward.AwardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountRewards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountRewards)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
