@model IEnumerable<EventPlanning.Mvc.Models.Entities.EventReward>

@{
    ViewBag.Title = "Награды мероприятий";
}

<h2>Награды мероприятий</h2>

<p>
    @Html.ActionLink("Создание новой награды к мероприятию", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reward.AwardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountRewards)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reward.AwardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountRewards)
        </td>
        <td>
            @Html.ActionLink("Редактирование", "Edit", new { id=item.EventRewardId }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.EventRewardId }) |
            @Html.ActionLink("Удаление", "Delete", new { id=item.EventRewardId })
        </td>
    </tr>
}

</table>
