@model IEnumerable<EventPlanning.Mvc.Models.Entities.IssuedReward>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.AspNetUsersId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventReward.EventRewardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemunerationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountRewardIssued)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.AspNetUsersId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventReward.EventRewardId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemunerationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountRewardIssued)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IssuedRewardId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IssuedRewardId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IssuedRewardId })
        </td>
    </tr>
}

</table>
