@model EventPlanning.Mvc.Models.Entities.Employee

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BiologicalFloor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BiologicalFloor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountChildren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountChildren)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.EmployeeId }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
