@model IEnumerable<EventPlanning.Mvc.Models.Entities.Position>

@{
    ViewBag.Title = "Должности";
}

<h2>Должности</h2>

<p>
    @Html.ActionLink("Создать новую должность", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.ActionLink("Редактирование", "Edit", new { id=item.PositionId }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.PositionId }) |
            @Html.ActionLink("Удаление", "Delete", new { id=item.PositionId })
        </td>
    </tr>
}

</table>
