@model IEnumerable<EventPlanning.Mvc.Models.Entities.Event>

@{
    ViewBag.Title = "Мероприятия";
}

<h2>Мероприятия</h2>
@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Создать новое мероприятие", "Create")
    </p>
}

@using (Html.BeginForm("Index", "Events", FormMethod.Get))
{

    <p>

        @Html.DropDownList("Category", (SelectList)ViewBag.Category, "All", new { @class = "form-control" })
        <input type="submit" value="Фильровать" />
    </p>

    @*@<p>
        Сортировать по: @Html.ActionLink("Имени", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        | @Html.ActionLink("Категории", "Index", new { sortOrder = ViewBag.CategorySortParm, currentFilter = ViewBag.CurrentFilter })
        | @Html.ActionLink("Дате", "Index", new { sortOrder = ViewBag.CostSortParm, currentFilter = ViewBag.CurrentFilter })

    </p>*@

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepeatEventType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.EventVisible == false && !User.IsInRole("admin"))
        {
            continue;
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepeatEventType)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink("Редактирование", "Edit", new { id = item.EventId }) |
                    @Html.ActionLink("Подробнее", "Details", new { id = item.EventId }) |
                    @Html.ActionLink("Удаление", "Delete", new { id = item.EventId })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Подробнее", "Details", new { id = item.EventId })
                </td>
            }
        </tr>
    }

</table>
