@model IEnumerable<EventPlanning.Mvc.Models.Entities.Group>

@{
    ViewBag.Title = "Отделы";
}

<h2>Отделы</h2>

<p>
    @Html.ActionLink("Создать новый отдел", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.ActionLink("Редактирование", "Edit", new { id=item.GroupId }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.GroupId }) |
            @Html.ActionLink("Удаление", "Delete", new { id=item.GroupId })
        </td>
    </tr>
}

</table>
